* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #2f3e46;
    --background: #fbfcf8;
    --alt-background: #dae2dc;
    --primary: #84a98c;
    --secondary: #537970;
    --accent: #344d50;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #b9c8d0;
    --background: #060703;
    --alt-background: #202823;
    --primary: #567b5e;
    --secondary: #86aca3;
    --accent: #afc8cb;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

#root {
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

.page {
  margin: 0;
  padding: 1rem;
  background-color: var(--background);
}

.page form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  margin: 0 auto; 
  align-items: center;
  background-color: var(--alt-background);
  border-radius: 25px;
  padding: 2rem;
}

.page form label{
  display: flex;
  flex-direction: column;
}

.page form label input{
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--text);
  background-color: #00000000;
}

button{
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-primary{
  background-color: var(--primary);
  color: var(--background);
}

.btn-secondary{
  background-color: var(--alt-background);
  color: var(--text);
}