.calendar-container{
    padding: 0 2rem;
    box-sizing: border-box;
}

.calendar-container table{
    text-align: center;
    border-spacing: 10px;
}

.calendar-container table td{
    border-radius: 25px;
}

.calendar-header{
    text-align: center;
}